body {
  font-family: 'Segoe UI', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

nav {
  background-image: url(../images/armbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  font-style: italic;
}
nav h1 {
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 69px;
  font-style: italic;
  margin: 0;
}
 h1{
   transition: text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
h1:hover {
  text-shadow:5px 5px 7px rgb(37, 39, 41);
  transform: scale(1.05); /* Make the text scale up slightly on hover */
}

nav ul, nav li, nav h2 {
  display: inline;
}
nav ul {
  margin-left: 60%;
}
nav li {
  margin-left: 10px;
}
nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: skyblue;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(71, 65, 65);
  border-radius: 10px;
  box-shadow: 12px 12px 15px rgb(172, 199, 218);
}

h2 {
  color: skyblue;
  margin-top: 30px;
}
ul {
  padding-left: 20px;
}
ul li {
  margin-bottom: 8px;
}
video {
  display: block;
  margin: 20px auto;
  border: 2px solid white;
  border-radius: 10px;
      box-shadow: 10px 10px 10px rgb(31, 144, 200);

}

.icons {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  background-color: #111;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.icons a {
  color: skyblue;
  text-decoration: none;
  display: inline-block;

  transition: transform 0.3s ease-in-out;
}
.icons a:hover {
  color: white;
  transform: scale(1.2);
}

.pointer {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: radial-gradient(circle, rgb(18,145,236) 0%, rgb(18,145,236) 100%);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  mix-blend-mode: screen;
  transition: width 0.1s ease-out, height 0.1s ease-out, opacity 0.2s ease-in-out;
  filter: blur(3px);
}

.trail {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background: rgb(18,145,236);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9998;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.2s ease-out;
  filter: blur(2px);
}